.btn  {
    display: inline-flex;
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &._primary{
        border-radius: 8px;
        background: #5429FF;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    &._secondary{
        border-radius: 8px;
        background: transparent;
        border: 1px solid #D0D5DD;
        color: #344054;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}